# Database
DATABASE_URL=postgresql://postgres.oxduspzcojliofwnofeb:sulongedukasyon123@aws-0-us-east-2.pooler.supabase.com:5432/postgres

# Session
SESSION_SECRET=9Bhq3cDRTnQ2WSAH+bP/vhyX8wTimFUoERAM4bvCiCKtGzVbU1OKlIVHVsj4pZrPDECni2jUrqqgg36JGGjiCQ==

# Supabase (for file storage)
VITE_SUPABASE_URL=https://oxduspzcojliofwnofeb.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im94ZHVzcHpjb2psaW9md25vZmViIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUxNDA2MDAsImV4cCI6MjA2MDcxNjYwMH0.uOGRPw2Ooqnqj0KYp4r3obhs82Eu_MY_6SNKZSSsjMQ